a:hover {
    color: #2E2E2E;
    color: currentColor;
    text-decoration:underline !important;
    
}
ul {
    list-style-type: none;
    padding:0;
}
main {
    margin-top: 5em;
}
.card-title{
    font-size:2em;
}
.page_name{
    font-size: 1.45em;
}

@media(max-width: 992px){
    header{
        font-size:0.85em;
    }
    main{
        font-size:0.9em;
        .card-header {
            font-size:0.8em;
        }
        .card-title, .card-title + .text-muted {
            font-size:0.9em;
        }
    }
}


    